body{
	background-color:#00CCFF;
	color: #FFFFFF;
}
.container{
	width: 95%;
	margin-top: 10px;
}

.box1{
	background-color: #1291C7;
	text-align: center;
	vertical-align: middle;
	height: 100px;
	padding: 40px 0;	
}
/*.row-fluid [class*="span"]{
	
}*/
.no-left{
	margin-left: 2px !important;
	margin-top: 2px !important;
}
